<div class="container">
  <div class="row">
    <h3 class="fw-bold">El aroma mágico</h3>
    <hr class="mt-1 mb-1"/>
    <hr class="mt-1 mb-1"/>
  </div>
  <div class="row">
    <img src="portada.png" alt="..." class="img-fluid">
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Región</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cafes">
            <th>
              <dd>{{c.id}}</dd>
            </th>
            <td>
              <dd>{{c.nombre}}</dd>
            </td>
            <td>
              <dd>{{c.tipo}}</dd>
            </td>
            <td>
              <dd>{{c.region}}</dd>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let t of tiposTotal" class="col-12">
      <p>{{t}}</p>
    </div>
  </div>
  <div class="row">
    <footer class="py-3 my-4 text-center text-muted">
      Contact us: +57 3102105253 - infoelaromamagico.com - elaromamagico
    </footer>
  </div>
</div>